{{ define "main" }}
	<main>
		<article>
			<h1>CHEAP AND COOL</h1>
			
		       

			<div>
				<p>Hi! This is a little cloud just for you and your friends.

</p>
<p>You'll get your own domain name, an Alma Linux 9 server (1 vCPU (amd64), 2GB RAM, 25GB HDD, 1 IPv6, 100 IPv4 ports) and <a href="/post/services">more</a>!
</p>
<p>If this sounds like something you're interested in, just send me your preferred domain name (like kitten.RADU.GA), your NS records and public key (<a href="/post/getting-started">what</a>). Also read <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>!</p>

			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
