{{ define "main" }}
	<main>
		<article>
			<h1>FREE AND COOL</h1>
			
		       

			<div>
				<p>Hi! This is a little cloud just for you and your friends.

</p>
<p>You'll get your own domain name, an Alma Linux 9 server (1 vCPU, 2GB RAM, 25GB HDD, 1 IPv6, 100 IPv4 ports) and 50GB of storage space in the OCIS.
</p>
<p>If this sounds like something you're interested in, just send me your preferred domain name (like kitty.radu.ga), your NS records, email and install <a href="https://github.com/francoismichel/ssh3">SSH3</a> to access the server. Also read <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>!</p>

			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
